<% address_id = address_type.chars.first %>
<% if address_id == 's' %>
  <% SpreeFrontend::Spree::AddressDecorator::ADDRESS_FIELDS.each do |field| %>
    <% if field == "country" %>
      <p class="form-group checkout-content-inner-field" id="<%= "#{address_id}country" %>" style='display:none'>
        <span id="<%= "#{address_id}country-selection" %>" class="d-block position-relative">
          <%= address_form.collection_select :country_id, available_countries, :id, :name,
                                            { prompt: Spree.t(:country).upcase },
                                            { class: 'required form-control spree-flat-select'} %>
          <%= image_tag 'arrow.svg', class: 'position-absolute spree-flat-select-arrow' %>
        </span>
      </p>
    <% elsif field == "state" %>
      <div class="form-group mb-4">
        <%= address_field(address_form, :state, address_id) { address_state(address_form, address.country, address_id) } if Spree::Config[:address_requires_state] %>
      </div>
    <% elsif field == "latitude" %>
        <div class="form-group mb-4">
          <%= address_form.hidden_field :latitude, class: "spree-flat-input"%>
        </div>
    <% elsif field == "longitude"%>
      <div class="form-group mb-4">
        <%= address_form.hidden_field :longitude, class: "spree-flat-input"%>
      </div>
    <% else %>
      <% next if field == "company" && !Spree::Config[:company] %>
      <% next if field == "alternative_#{address_id}_phone" && !Spree::Config["alternative_#{address_id}_phone"] %>
      <div class="form-group mb-4">
        <%= address_field(address_form, field.to_sym, address_id) %>
      </div>
    <% end %>
  <% end %>
  <div id="map2" class="mb-4" style='width: 100%; height: 400px;'></div>
<% else %>
  <% [ 'nit' , 'social_reason' ].each do |field| %>
      <div class="form-group mb-4">
        <%= address_field(address_form, field.to_sym, address_id) %>
      </div>
  <% end %>
      <div class="form-group mb-4" style='display: none'>
        <%= address_field(address_form, :skip_validation, address_id) %>
      </div>
      <script>
        document.getElementById('order_bill_address_attributes_skip_validation').value = 'true'
      </script>
<% end %>

  <script async='' defer='defer' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDJReGXJ_7NMeAm9eAZWCOjl4RznrP-eCc&amp;callback=initMap'></script>

  <script>
    var map, infoWindow;
    markers = [];
      function initMap() {
          if ($('#address_latitude').val()=="" || $('.inner.checkout-content-inner').length==0) {
              // Styles a map in night mode.
              map = new google.maps.Map(document.getElementById('map2'), {
                  center: {lat: -17.775381, lng: -63.183377},
                  zoom: 13,
                  styles: [
                      {
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#ebe3cd"
                              }
                          ]
                      },
                      {
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#523735"
                              }
                          ]
                      },
                      {
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#f5f1e6"
                              }
                          ]
                      },
                      {
                          "featureType": "administrative",
                          "elementType": "geometry.stroke",
                          "stylers": [
                              {
                                  "color": "#c9b2a6"
                              }
                          ]
                      },
                      {
                          "featureType": "administrative.land_parcel",
                          "elementType": "geometry.stroke",
                          "stylers": [
                              {
                                  "color": "#dcd2be"
                              }
                          ]
                      },
                      {
                          "featureType": "administrative.land_parcel",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#ae9e90"
                              }
                          ]
                      },
                      {
                          "featureType": "landscape.natural",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#dfd2ae"
                              }
                          ]
                      },
                      {
                          "featureType": "poi",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#dfd2ae"
                              }
                          ]
                      },
                      {
                          "featureType": "poi",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#93817c"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.park",
                          "elementType": "geometry.fill",
                          "stylers": [
                              {
                                  "color": "#a5b076"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.park",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#447530"
                              }
                          ]
                      },
                      {
                          "featureType": "road",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#f5f1e6"
                              }
                          ]
                      },
                      {
                          "featureType": "road.arterial",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#fdfcf8"
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#f8c967"
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway",
                          "elementType": "geometry.stroke",
                          "stylers": [
                              {
                                  "color": "#e9bc62"
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway.controlled_access",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#e98d58"
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway.controlled_access",
                          "elementType": "geometry.stroke",
                          "stylers": [
                              {
                                  "color": "#db8555"
                              }
                          ]
                      },
                      {
                          "featureType": "road.local",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#806b63"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.line",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#dfd2ae"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.line",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#8f7d77"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.line",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#ebe3cd"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.station",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#dfd2ae"
                              }
                          ]
                      },
                      {
                          "featureType": "water",
                          "elementType": "geometry.fill",
                          "stylers": [
                              {
                                  "color": "#b9d3c2"
                              }
                          ]
                      },
                      {
                          "featureType": "water",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#92998d"
                              }
                          ]
                      }
                  ]

              });
              load_markers();

              function load_markers() {
                  var latitude = $('#address_latitude').val();
                  var longitude = $('#address_longitude').val();
                  if (latitude != "" && longitude != "") {
                      var locat = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
                      addMarker(locat, false);
                      map.setCenter(locat);
                  } else {
                      infoWindow = new google.maps.InfoWindow;
                      if (navigator.geolocation) {
                          navigator.geolocation.getCurrentPosition(function (position) {
                              var pos = {
                                  lat: position.coords.latitude,
                                  lng: position.coords.longitude
                              };
                              infoWindow.setPosition(pos);
                              // infoWindow.setContent('Ubicaci贸n.');

                              addMarker(pos, true);
                              infoWindow.open(map);
                              map.setCenter(pos);
                          }, function () {
                              handleLocationError(true, infoWindow, map.getCenter());
                          });
                      } else {
                          // Browser doesn't support Geolocation
                          handleLocationError(false, infoWindow, map.getCenter());
                      }
                  }
              }

              map.addListener('click', function (event) {
                  addMarker(event.latLng, true);
              });

              function addMarker(location, setInputLocation) {
                  // Add the marker at the clicked location, and add the next-available label
                  // from the array of alphabetical characters.
                  var marker = new google.maps.Marker({
                      draggable: true,
                      position: location,
                      label: '',
                      map: map
                  });
                  marker.addListener('click', function () {
                      if (this.getAnimation() !== null) {
                          this.setAnimation(null);
                      } else {
                          this.setAnimation(google.maps.Animation.BOUNCE);
                      }
                  });
                  clearMarkers();
                  markers.push(marker);
                  if (setInputLocation)
                      addLocationInput();
              }

              function clearMarkers() {
                  setMapOnAll(null);
              }

              function setMapOnAll(map) {
                  for (var i = 0; i < markers.length; i++) {
                      markers[i].setMap(map);
                  }
                  markers = []
              }

              function addLocationInput() {
                  $('#address_latitude').val(markers[0].position.lat());
                  $('#address_longitude').val(markers[0].position.lng());
              }

              function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                  infoWindow.setPosition(pos);
                  infoWindow.setContent(browserHasGeolocation ?
                      'No hemos podido detectar tu ubicaci贸n.' :
                      'Tu navegador no soporta la detecci贸n de tu ubicaci贸n.');
                  infoWindow.open(map);
              }
          }
      }

  </script>
