<div data-hook="admin_stock_locations_form_fields">
  <div class="row">
    <div class="col-12 col-md-9" data-hook="stock_location_names">
      <div data-hook="stock_location_name">
        <%= f.field_container :name, class: ['form-group']  do %>
          <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
          <%= f.text_field :name, class: 'form-control', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>
      <div data-hook="stock_location_admin_name">
        <%= f.field_container :admin_name, class: ['form-group']  do %>
        <%= f.label :admin_name, Spree.t(:internal_name) %>
        <%= f.text_field :admin_name, class: 'form-control', label: false %>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-md-3" data-hook="stock_location_status">
      <strong><%= Spree.t(:status) %></strong>
      <div class="checkbox my-2" data-hook="stock_location_active">
        <%= label_tag :active do %>
          <%= f.check_box :active %>
          <%= Spree.t(:active) %>
        <% end %>
      </div>
      <div class="checkbox my-2" data-hook="stock_location_default">
        <%= label_tag :default do %>
          <%= f.check_box :default %>
          <%= Spree.t(:default) %>
        <% end %>
      </div>
      <div class="checkbox my-2" data-hook="stock_location_backorderable_default">
        <%= label_tag :backorderable_default do %>
          <%= f.check_box :backorderable_default %>
          <%= Spree.t(:backorderable_default) %>
        <% end %>
      </div>
      <div class="checkbox my-2" data-hook="stock_location_propagate_all_variants">
        <%= label_tag :propagate_all_variants do %>
          <%= f.check_box :propagate_all_variants %>
          <%= Spree.t(:propagate_all_variants) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group" data-hook="stock_location_address1">
    <%= f.label :address1, Spree.t(:street_address) %>
    <%= f.text_field :address1, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_city">
    <%= f.label :city, Spree.t(:city) %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_address2">
    <%= f.label :address2, Spree.t(:street_address_2) %>
    <%= f.text_field :address2, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_zipcode">
    <%= f.label :zipcode, Spree.t(:zip) %>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_phone">
    <%= f.label :phone, Spree.t(:phone) %>
    <%= f.phone_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group" data-hook="stock_location_country">
    <%= f.label :country_id, Spree.t(:country) %>
    <span id="country"><%= f.collection_select :country_id, available_countries, :id, :name, {}, { class: 'select2' } %></span>
  </div>

  <div class="form-group" data-hook="stock_location_state">
    <% if f.object.country %>
      <%= f.label :state_id, Spree.t(:state) %>
      <span id="state" class="region">
        <%= f.text_field :state_name, style: "#{f.object.country.states.empty? ? '' : 'display: none;'}", disabled: !f.object.country.states.empty?, class: 'state_name form-control' %>
        <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, { include_blank: true }, {class: 'select2', style: "#{f.object.country.states.empty? ? 'display: none;' : '' };", disabled: f.object.country.states.empty?} %>
      </span>
    <% end %>
  </div>
  <div class="form-group" data-hook="stock_location_latitude">
    <%= f.hidden_field :latitude, class: 'form-control' %>
  </div>
  <div class="form-group" data-hook="stock_location_longitude">
    <%= f.hidden_field :longitude, class: 'form-control' %>
  </div>
  <div id="map2" class="form-group" style='width: 100%; height: 400px;'></div>
</div>
<script async='' defer='defer' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDJReGXJ_7NMeAm9eAZWCOjl4RznrP-eCc&amp;callback=initMap'></script>

<script>
    var map, infoWindow;
    markers = [];
    var geocoder;
    function initMap() {
        // Styles a map in night mode.
        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map2'), {
            center: {lat: -17.775381, lng: -63.183377},
            zoom: 13,
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ]

        });
        load_markers();

        function load_markers() {
            var latitude = $('#stock_location_latitude').val();
            var longitude = $('#stock_location_longitude').val();
            if (latitude != "" && longitude != "") {
                var locat = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
                addMarker(locat, false);
                map.setCenter(locat);
            } else {
                infoWindow = new google.maps.InfoWindow;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        infoWindow.setPosition(pos);
                        // infoWindow.setContent('Ubicaci贸n.');

                        addMarker(pos, true);
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }
        }

        map.addListener('click', function (event) {
            addMarker(event.latLng, true);
        });

        function addMarker(location, setInputLocation) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var marker = new google.maps.Marker({
                draggable: true,
                position: location,
                label: '',
                map: map
            });
            marker.addListener('click', function () {
                if (this.getAnimation() !== null) {
                    this.setAnimation(null);
                } else {
                    this.setAnimation(google.maps.Animation.BOUNCE);
                }
            });
            clearMarkers();
            markers.push(marker);
            if (setInputLocation)
                addLocationInput();
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
            markers = []
        }

        function addLocationInput() {
            $('#stock_location_latitude').val(markers[0].position.lat());
            $('#stock_location_longitude').val(markers[0].position.lng());
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'No hemos podido detectar tu ubicaci贸n.' :
                'Tu navegador no soporta la detecci贸n de tu ubicaci贸n.');
            infoWindow.open(map);
        }
        $(document).on('change', '#stock_location_state_id', function(e) {
            changeUblication(this.value)

        });
        function changeUblication(ubication){
            debugger
            switch (parseInt(ubication)) {
                //La Paz
                case 3112:
                    lat = -16.5009615;
                    lng = -68.1310615;
                    break;
                //Cochabamba
                case 3110:
                    lat = -17.3973524;
                    lng = -66.1828414;
                    break;
                //Chuquisaca
                case 3111:
                    lat = -19.0338023;
                    lng = -65.2714974;
                    break;
                //Oruro
                case 3114:
                    lat = -17.9627937;
                    lng = -67.1102999;
                    break;
                //Potosi
                case 3115:
                    lat = -19.5742113;
                    lng = -65.7694655;
                    break;
                //Pando
                case 3113:
                    lat = -11.0347018;
                    lng = -68.7916468;
                    break;
                //Beni
                case 3109:
                    lat = -14.8299837;
                    lng = -64.9194422;
                    break;
                //Tarija
                case 3117:
                    lat = -21.5276506;
                    lng = -64.749455;
                    break;
                //Santa Cruz
                default:
                    lat = -17.775381;
                    lng = -63.183377;
                    break
            }
            var pos = {lat: lat, lng: lng};
            map.setCenter(pos)
        }
    }


</script>
