<div class="border-top footer-spree-copyright">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center py-3 footer-spree-copyright-content">
      <div>Diseñado y desarrollado por</div>
      <div class="mb-1 mb-lg-0">
        <%= link_to 'https://caimango.com/', target: :blank, 'aria-label': 'Caimango.com', rel: :follow do %>
          <%= image_tag 'noimage/caimango.png', class: 'footer-spree-copyright-logo-spark mx-2', alt: 'Caimango', title: 'Caimango' %>
        <% end %>
      </div>
      <div class="d-none d-lg-inline-block mr-2">|</div>
      <div>
        © <%= Time.current.year %>
        <%= link_to current_store.name, "https://#{current_store.url}" %>.
        <%= Spree.t(:all_rights_reserved) %>.
      </div>
    </div>
  </div>
</div>
